.footer {
    width:100%;
    background-color:black;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h2 {
    margin-bottom: 20px;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    background-color: #222;
  }
  